
            h1 {
                color: brown;
            }

            * {
                border: solid;
            }
        
            .one{
            
                background-color: aquamarine;
                display:flex;
                justify-content: space-between;
                
            }